# Dependencies
node_modules/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Build output
dist/
out/

# IDE
.vscode/

# OS
.DS_Store

# Logs
*.log
yarn-error.log

# Environment
.env
